yotta_modules/*
yotta_targets/*
BUILD/*
.yotta.json
mbed-os/*
mbed-os-spirit1/*
mbed-os-spirit1.lib
nanostack-border-router/*
sal-nanostack-driver-k64f-eth/*
sal-stack-nanostack-private/*
sal-stack-nanostack-private.lib
sal-stack-nanostack-slip/*
mbed-os
stm-spirit1-rf-driver
sal-stack-nanostack-private
atmel-rf-driver/*
mcr20a-rf-driver.git/*
sal-nanostack-driver-stm32-eth
sal-nanostack-driver-stm32-eth/*
